@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
  height: 100%;
}

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .sayt-container {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
    margin: 0 auto;
    width: 1200px;
  }
/*Шапка--------------------------------------------------------------------------*/
  .main-header {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }
  .navigation-logo {
    width: 140px;
    margin-left: 70px;
  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 70px;
    padding: 20px 16px;
    width: 339px;
    list-style-type: none;
  }

  .navigation-user {
    display: flex;
    align-items: center;
    width: 268px;
    margin-top: 0;
    margin-left: auto;
    margin-right: 70px;
    list-style-type: none;
  }

  .navigation-link {
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
  }

  .number-favorites {
    background-color: rgba(125, 181, 79, 1);
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
  }

  .button-navigation-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
  }
  /*Мейн--------------------------------------------------------------------*/
  .main-container {
    flex-grow: 1;
  }
/*Логотип с фоном*/
  .main-head {
    color: inherit;
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-teeth.svg"), url("../images/background-index-head.jpg");
    background-size: 1200px 57px, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
  }

  .logo-sedona {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
    padding-bottom: 82px;
    padding: auto;
  }
/*Текст 1*/
  .services-tagline {
    margin-top: 69px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .services-text {
    margin-top: 0;
    margin-bottom: 69px;
    padding-top: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }
/*Причины 1*/
  .services-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  .services-block-fitst {
    display: flex;
    margin: 0 auto;
  }

  .services-item-first,
  .services-item-fifth {
    background-color: rgba(130, 179, 211, 1);
  }

  .services-title-first {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .services-explanation-first {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
  }
/*Причины 2-4*/
  .services-item-second,
  .services-item-fourth {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
  }

  .services-title-second {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .services-explanation-second {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  .services-item-third {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.2);
  }

  .services-title-third {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .services-explanation-third {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  .services-title-fourth {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .services-explanation-fourth {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
/*Причины 5*/
  .services-block-fifth {
    display: flex;
    flex-direction: row-reverse;
    margin: 0 auto;
    flex-direction: row-reverse;
  }

  .services-title-fifth {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .services-explanation-fifth {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
  }

  .advantages {
    text-align: center;
  }
/*Тест 2*/
  .advantages-call {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  
  .advantages-text {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 64px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }
/*Приемущества*/
  .advantages-list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
  }

  .advantages-item-first,
  .advantages-item-third {
    background-color: rgba(131, 179, 211, 0.12);
  }

  .advantages-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .advantages-description {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
/*Поиск гостиницы*/
  .find-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 96px 304px;
    text-align: center;
  }

  .find-hotel-Call {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .find-hotel-description {
    padding-top: 20px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }

  .button-hotel {
    padding-top: 54px;
    margin: 0 auto;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
  }
/*Рассылка*/
  .newslatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 258px 104px 258px;
    text-align: center;
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-subscription.jpg");
    background-size: 1200px 414.86px;
    background-repeat: no-repeat;
  }

  .newslatter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .newslatter-description {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
  }

  .field {
    font-family: inherit;
  }

  .button-newslatter {
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-transform: uppercase;
    padding: 0;
    border: none;
  }
/*Подвал*/
  .page-footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-left: 70px;
    margin-right: 70px;
  }

  .contacts {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .footer-contacts-list {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    width: 142px;
    list-style-type: none;
  }

  .contacts-phone {
    width: 620px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .htmlacademy-link {
    width: 140px;
  }
/*Функции*/
  .appointment {
    padding-top: 35px;
    padding: 70px;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-catalog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .inner-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }
  .breadcrumbs {
    display: flex;
    margin: 0 auto;
    list-style-type: none;
  }

  .breadcrumbs-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }
  .catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    padding: 0;
  }

  .catalog-filter-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
  }

  .catalog-filter-title {
    margin-left: auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-filter-list {
    list-style-type: none;
  }

  .control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }
  .form-label {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
  .button-submit {
    font-family: inherit;
    margin-left: 70px;
    background-color: rgba(130, 179, 211, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  .button-reset {
    font-family: inherit;
    margin-left: 70px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
  }
  /*Сортировка*/
  .sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
    padding: 0;
  }

  .number-hotels {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
  }
  .select-control {
    font-family: inherit;
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
  .button-light {
    margin-left: 70px;
  }
  /*Карточки*/
  .product-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
    width: 340px;
  }

  .product-card-link {
    text-decoration: none;
  }
  .product-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
  }
  .hotel {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
  .product-card-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
  .button-more {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
  }
  .button-favorites {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    border: none;
  }
  .rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
    text-align: center;
  }
  /*Переходы*/
  .pagination {
    display: flex;
    align-items: center;
    align-self: stretch;
    list-style-type: none;
    width: 1060px;
  }

  .pagination-link-current {
    font-weight: 700;
    font-size: 20;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 242, 242, 1);
    text-align: center;
  }
  .pagination-link {
    font-weight: 700;
    font-size: 20;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-align: center;
    text-decoration: none;
  }
  /*Рассылка 2*/
  .catalog-newslatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 258px 104px 258px;
    text-align: center;
  }
  .catalog-newslatter-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  .catalog-newslatter-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }