@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  html {
  height: 100%;
}

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .sayt-container {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.20);
  }

/*Шапка--------------------------------------------------------------------------*/
  .main-header {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  .navigation {
    display: flex;
    justify-content: space-between;
    /*min-height: 64px;*/
  }

  .navigation-logo {
    width: 140px;
    margin-left: 70px;
    margin-bottom: -6px;
  }

  .logo-sedona {
    display: block;
  }

  .navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    margin-left: 70px;
    padding: 0;
    width: 339px;
    list-style-type: none;
  }

  .navigation-item-list {
    position: relative;
    margin: 0 auto;
    padding: 20px 16px;
  }

  .navigation-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 70px;
    padding: 0;
    list-style-type: none;
  }
  .navigation-user .navigation-item:nth-child(1) {
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    padding: 22px 12px;
    background-image: url(../images/icons/search.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .navigation-user .navigation-item:nth-child(2) {
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 17px;
    padding: 22px 12px;
    background-image: url(../images/icons/favorites.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .navigation-link {
    font-weight: 700;
    text-align: center;
    color: inherit;
    background-color: inherit;
    text-decoration: none;
    cursor: pointer;
  }

  .navigation-link:hover {
    background: none;
  }

  .navigation-link-current::before {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    width: 68px;
    height: 2px;
    background-color: rgba(117, 98, 87, 1);
    content: "";
  }

  .navigation-item {
    position: relative;
  }

  .number-favorites {
    position: absolute;
    top: 10px;
    left: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(125, 181, 79, 1);
    color: rgba(242, 242, 242, 1);
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    width: 20px;
    height: 20px;
  }

  .navigation-user-link {
    display: block;
    width: 20px;
    height: 20px;
  }

  .navigation-item-button {
    margin-left: 20px;
  }

  .button-navigation-link {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    padding: 8px 50px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .brown-button:hover {
    background-color: rgba(97, 80, 72, 1);
  }

  .brown-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(117, 97, 87, 1);
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*Мейн--------------------------------------------------------------------*/
  .main-container {
    flex-grow: 1;
  }

/*Логотип с фоном*/
  .main-head {
    padding-top: 51px;
    padding-bottom: 82px;
    color: inherit;
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-teeth.svg"), url("../images/background-index-head.jpg");
    background-size: 1200px 57px, cover;
    background-repeat: no-repeat;
    background-position: center bottom, center;
  }

  .logo-sedona {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
/*Текст 1*/

  .services-tagline {
    margin-top: 69px;
    margin-bottom: 0;
    padding-left: 170px;
    padding-right: 170px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .services-text {
    margin: 0 auto;
    padding-top: 20px;
    font-weight: 400;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }

/*Причины 1*/
  .services-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    margin: 0 auto;
    margin-top: 90px;
    list-style-type: none;
  }

  .services-block {
    display: grid;
    padding: 85px 103px;
  }

  .services-item-first,
  .services-item-fifth {
    display: flex;
    background-color: rgba(130, 179, 211, 1);
  }

  .services-title-first {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .services-title-first:before {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.30);
    content: "";
  }

  .services-explanation-first {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
  }

/*Причины 2-4*/
  .services-item-second,
  .services-item-fourth {
    justify-content: space-between;
    min-height: 400px;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.12);
  }

  .services-title-second {
    position: relative;
    margin: 0 auto;
    padding-top: 103px;
    padding-bottom: 0;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    text-align: center;
  }

  .services-title-second:before {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.30);
    content: "";
  }

  .services-explanation-second {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 103px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
  }

  .services-item-third {
    justify-content: space-between;
    min-height: 40px;
    width: 400px;
    background-color: rgba(131, 179, 211, 0.2);
  }

  .services-title-third {
    position: relative;
    margin: 0 auto;
    padding-top: 103px;
    padding-bottom: 0;
    padding-left: 99px;
    padding-right: 99px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    text-align: center;
  }

  .services-title-third:before {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.30);
    content: "";
  }

  .services-explanation-third {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 103px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
  }

  .services-title-fourth {
    position: relative;
    margin: 0 auto;
    padding-top: 103px;
    padding-bottom: 0;
    padding-left: 110px;
    padding-right: 110px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    text-align: center;
  }

  .services-title-fourth:before {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 0, 0, 0.30);
    content: "";
  }

  .services-explanation-fourth {
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 103px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
  }
/*Причины 5*/

  .services-item-fifth {
    display: flex;
    flex-direction: row-reverse;
  }

  .services-title-fifth {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .services-title-fifth:before {
    position: absolute;
    bottom: -32px;
    left: 50%;
    width: 60px;
    height: 2px;
    margin-left: -30px;
    color: rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 0.30);
    content: "";
  }

  .services-explanation-fifth {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(255, 255, 255, 1);
  }

  .advantages {
    text-align: center;
  }

/*Тест 2*/
  .advantages-call {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 0;
    padding-left: 350px;
    padding-right: 350px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  
  .advantages-text {
    display: flex;
    justify-content: center;
    margin: 0 auto;  
    padding-top: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }

/*Приемущества*/
  .advantages-list {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    list-style-type: none;
  }
  

  .advantages-item-first,
  .advantages-item-third {
    min-height: 385px;
    background-color: rgba(131, 179, 211, 0.12);
  }
  
  .advantages-item-first {
    background-image: url(../images/icons/house.svg);
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-size: 75px 72px;
  }

  .advantages-item-second {
    min-height: 385px;
    background-image: url(../images/icons/food.svg);
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-size: 75px 72px;
  }

  .advantages-item-third {
    background-image: url(../images/icons/present.svg);
    background-repeat: no-repeat;
    background-position: center top 80px;
    background-size: 75px 72px;
  }

  .advantages-title {
    margin: 0 auto;
    padding-top: 182px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .advantages-description {
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 8px;
    padding-left: 85px;
    padding-right: 85px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }
/*Поиск гостиницы*/
  .find-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 96px 304px;
    text-align: center;
  }

  .find-hotel-Call {
    margin: 0 auto;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .find-hotel-description {
    padding-top: 20px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }

  .button-hotel {
    margin-top: 54px;
    margin-left: 0;
    margin-left: 0;
    padding: 8px 50px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-decoration: none;
    text-transform: uppercase;
  }
/*Рассылка*/
  .newslatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 258px 104px 258px;
    text-align: center;
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-subscription.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .newslatter-title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
  }

  .newslatter-description {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(255, 255, 255, 1);
  }

  .newslatter-form {
    display: flex;
    flex-grow: 1;
    margin-top: 54px;
  }

  .field {
    display: block;
    width: 412px;
    font-family: inherit;
    font-weight: 400;
    margin: 0;
    padding: 12px 20px;
    background-color: rgba(242, 242, 242, 1);
    border: none;
    border-radius: 4px 0px 0px 4px;
  }

  .button-newslatter {
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-transform: uppercase;
    padding: 8px 50px;
    margin: 0 auto;
    border: none;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
  }

  .blue-button:hover {
    background-color: rgba(104, 162, 202, 1);
  }

  .blue-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(104, 162, 202, 1);
  }
/*Подвал*/

  .contacts {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 70px 30px 70px;
    width: 1060px;
  }

  .footer-contacts-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 142px;
    list-style-type: none;
  }

  .button-vk,
  .button-tg,
  .button-youtube {
    position: relative;
    padding: 10px;
  }

  .contacts-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: rgba(131, 179, 211, 1);
  }
  
  .footer-contacts-item:hover .contacts-icon {
    fill: rgba(104, 162, 202, 1);
  }

  .footer-contacts-item:active .contacts-icon {
    fill: rgba(104, 162, 202, 0.3);
  }

  .contacts-phone {
    margin: 0 auto;
    width: 620px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .contacts-phone:hover {
    color: rgba(117, 97, 87, 1);
  }

  .contacts-phone:active {
    color: rgba(117, 97, 87, 0.3);
  }

  .htmlacademy-link {
    position: relative;
    margin-left: auto;
    flex-shrink: 0;
    padding: 0;
    width: 140px;
  }

  .contacts-htmlacademy-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    fill: rgba(0, 0, 0, 1);
  }

  .contacts-htmlacademy-link:hover {
    fill: rgba(117, 97, 87, 1);
  }

  .contacts-htmlacademy-link:active {
    fill: rgba(117, 97, 87, 0.3);
  }

  /*.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 1);
  }

  .modal {
    position: relative;
    display: flex;
    margin: auto;
    padding: 64px 70px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
  }

  .modal-auth {
    width: 717px;
  }

  .modal-close-button {
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;
    width: 56px;
    height: 44px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 242, 242, 1);
    border: none;
    background-image: url("../images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  } 

  .modal-title {
    margin: 0;
    margin-bottom: 24px;
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
  }*/

/*Функции*/
  .appointment {
    padding-top: 35px;
    padding: 70px;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(179, 171, 171);
    background-image: url("../images/background-catalog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .inner-title {
    margin: 0 auto;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
  }

  .breadcrumbs {
    display: flex;
    margin-top: 8px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  .breadcrumbs-item{
    padding-left: 10px;
  }

  .breadcrumbs-icon {
    /*position: absolute;*/
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .breadcrumbs-item-catalog {
    padding-left: 10px;
  }

  .breadcrumbs-link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
  }

  .catalog-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0;
  }

  .range-scale {
    position: relative;
    height: 4px;
    margin-bottom: 16px;
    background-color: #242424;
    border-radius: 2px;
  }

  .catalog-filter-group {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
  }

  .catalog-filter-title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .catalog-filter-infrastructure {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  .catalog-filter-parking{
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
  }

  .catalog-filter-wifi {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
  }

  .catalog-filter-housing {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }

  .catalog-filter-motel {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
  }

  .catalog-filter-apartaments {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
  }

  .catalog-filter-list {
    list-style-type: none;
  }

  .control-input {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
  }

  .form-label {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .appointment-button {
    display: grid;
    text-align: center;
  }

  .range-wrapper-inputs {
    margin-top: 32px;
  }

  .range-scale {
    position: relative;
    height: 4px;
    margin-top: 36px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 2px;
  }

  .range-bar {
    position: absolute;
    height: 4px;
    background-color: rgba(255, 255, 255, 1);
  }

  .range-toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .range-toggle:focus {
    outline: 4px solid rgba(131, 179, 211, 1);
  }

  .range-toggle:active {
    outline: 2px solid rgba(131, 179, 211, 1);
  }

  .toggle-min {
    top: -8px;
    left: -10px;
  }
  
  .toggle-max {
    top: -8px;
    right: -10px;
  }

  .button-submit {
    padding: 8px 50px 8px 50px;
    font-family: inherit;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }

  .button-reset {
    margin-top: 32px;
    margin-bottom: 0;
    padding: 8px 50px 8px 50px;
    font-family: inherit;
    color: rgba(255, 255, 255, 1);
    background: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .product-gallery {
    margin: 0 auto;
    padding: 50px 70px 60px 70px;
  }

  /*Сортировка*/
  .sorting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
  }

  .number-hotels {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
  }

  .select-control {
    padding: 14px 20px;
    font-family: inherit;
    margin-left: auto;
    width: 252px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  .catalog-card-view {
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 70px;
    padding: 0;
    list-style-type: none;
  }
  
  .button-light-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    margin: 0 auto;
    border: 2px solid var(--forms-elements-1, #E5E5E5);;
  }

  .button-light-icon svg {
    fill: 2px solid var(--forms-elements-1, #E5E5E5);
  }

  .button-light-icon-current {
    border: 2px solid var(--forms-elements-1, #000000);;
  }

  .button-light-first {
    position: relative;
    margin: 0 auto;
    padding: 14px 12px 14px 12px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-light-second {
    position: relative;
    margin-left: 8px;
    padding: 14px 12px 14px 12px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .button-light-third {
    position: relative;
    margin-left: 8px;
    padding: 14px 12px 14px 12px;
    background: none;
    border-radius: 4px;
    cursor: pointer;
  }

  /*Карточки*/
  .product-list {
    display: grid;
    grid-template-columns: 340px 340px 340px;
    list-style-type: none;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    gap: 20px;
  }

  .product-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    gap: 16px;
  }

  .product-card-link {
    grid-column: 1 / -1;
    text-decoration: none;
  }

  .product-card-image{
    display: block;
  }

  .product-card-title {
    margin-top: 16px;
    margin-bottom: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 1);
  }

  .hotel {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  .product-card-price {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    min-width: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: rgba(51, 51, 51, 1);
  }

  .button-more {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(117, 97, 87, 1);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 8px 25px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
  }

  .button-favorites {
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-align: center;
    text-transform: uppercase;
    padding: 8px 25px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .four-stars {
    display: block;
    width: 80px;
    background-image: url(../images/star.svg);
    background-repeat: space no-repeat;
    background-position: center;
  }

  .three-stars {
    display: block;
    width: 60px;
    background-image: url(../images/star.svg);
    background-repeat: space no-repeat;
    background-position: center;
  }

  .two-stars {
    display: block;
    width: 40px;
    background-image: url(../images/star.svg);
    background-repeat: space no-repeat;
    background-position: center;
  }

  .rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(51, 51, 51, 1);
    background-color: rgba(242, 242, 242, 1);
    padding: 9px 23px 8px 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
  }

  /*.pagination:before {
    position: absolute;
    top: -40px;
    left: 50%;
    width: 1060px;
    height: 0px;
    margin-left: -530px;
    color: rgba(230, 230, 230, 1);
    background: #E6E6E6;
    content: "";
  } */

  /*Переходы*/
  .pagination {
    display: flex;
    align-items: baseline;
    align-self: stretch;
    margin-top: 40px;
    margin-bottom: 0;
    padding: 0;
    width: 1060px;
    list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-link-current {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 11.36px;
    padding-bottom: 12.64px;
    font-weight: 700;
    font-size: 20;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(242, 242, 242, 1);
    text-align: center;
    border-radius: 4px;
  }

  .pagination-link-element {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 11.36px;
    padding-bottom: 12.64px;
    text-align: center;
    border-radius: 4px;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 11.36px;
    padding-bottom: 12.64px;
    font-weight: 700;
    font-size: 20;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(130, 179, 211, 1);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
  }

  /*Рассылка 2*/
  .catalog-newslatter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 96px 258px 104px 258px;
    text-align: center;
  }
  .catalog-newslatter-title {
    margin: 0 auto;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }
  .catalog-newslatter-description {
    margin: 0 auto;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: rgba(51, 51, 51, 1);
  }